@{
    ViewBag.Title = "Error occurred";
}

<div class="container" style="margin-top: 2rem">
<main role="main" class="pb-3">
    <div class="px-4 py-1 text-center" style="background-color: aliceblue;">
            <h1 style="margin-top: 2em" class="display-2 fw-bold">Unknow error</h1>
            <p class="display-6 fw-bold">Sorry, Teller, something gets wrong... We will check it and handle it as faster we can</p>
    </div>

</main>
</div>
