<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tellers.App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tellers.App.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue">
            <!-- Container wrapper -->
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand me-2" href="/">
                    <img src="~/images/storytelling-icon-simple-element-vector-27270246.jpg"
                         height="50"
                         alt="Tellers Logo"
                         loading="lazy"
                         style="margin-top: -1px;" 
                         class="rounded-circle"/>
                </a>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Tellers</a>
                        </li>
                    </ul>
                    <!-- Left links -->

                    <div class="d-flex align-items-center">
                        <a type="button" class="btn btn-link px-3 me-2" asp-action="Login" asp-controller="User">
                            Login
                        </a>
                        <a type="button" class="btn btn-outline-primary me-3" asp-action="Register" asp-controller="User">
                            Sign up for free
                        </a>
                    </div>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    

    @RenderBody();
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-white text-muted" style="background-color: cornflowerblue">
        
        <!-- Section: Links  -->
        <section class="border-top" style="background-color: lightblue">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3 text-secondary"></i>TELLERS COMPANY
                        </h6>
                        <p>
                            The web site is created for SoftUni course project defence. It is a site where people can share their stories with the others or just to read diffrent type of stories.
                        </p>
                    </div>
                    <!-- Grid column -->
                    
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3 text-secondary"></i>Sliven, 8800, BG</p>
                        <p>
                            <i class="fas fa-envelope me-3 text-secondary"></i>tellers@mail.com</p>
                        <p><i class="fas fa-phone me-3 text-secondary"></i>+359 887 88 22 55</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="/">Tellers</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
