<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue">
            <!-- Container wrapper -->
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand me-2" href="/">
                    <img src="~/images/storyTelling.jpg"
                         height="50"
                         alt="Tellers Logo"
                         loading="lazy"
                         style="margin-top: -1px;" 
                         class="rounded-circle"/>
                </a>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Tellers</a>
                        </li>
                    </ul>
                    <!-- Left links -->

                    <div class="d-flex align-items-center collapse">
                        <a type="button" class="btn btn-link px-3 me-2" asp-action="Login" asp-controller="User">
                            Login
                        </a>
                        <a type="button" class="btn btn-outline-primary me-3" asp-action="Register" asp-controller="User">
                            Sign up for free
                        </a>
                    </div>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->

    </header>

    @*<iframe src="https://drive.google.com/file/d/1kYufcQIi_pIlITHu3OY3figMgPdBHHLK/preview" class="embed-responsive-item" allowfullscreen></iframe>*@
    @RenderBody();

    <!-- Footer -->
    <partial name="FooterPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
